<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Counter App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>

<body>
    <h1>Welcome to the Web Counter App!</h1>
    <div id="counter" class="counter">Visits: {{ visit_count }}</div>
    <button id="reset-button" onclick="resetCounter()">Reset Counter</button>
</body>

</html>